html{
  font-family: Trebuchet MS;
  color: #333;
  font-size: 16px;
}
.logoutbut{
  position: relative;
  margin-left: 95%;
  margin-top: 5px;
  font-size: 16px;
  outline: 0px;
}
.logoutbut:active{
  background-color: rgb(230,230,230);
}
#logonnoti{
  margin-top: 5px;
  margin-left: 90%;
  font-family: Trebuchet MS;
  font-size: 15px;
}
#window, .window{
  width: 65%;
  height: 70%;
  align: center;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  background-color: rgb(230,230,230);
  position: relative;
  top: -51px;
  border: 1px black solid;
  z-index: 2;
}
